body{
	margin:0;
	background-image: url(images/850.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	font-family: Monotype Corsiva;
	font-size: 400%;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	text-shadow: 2px 2px black;
	background-color: rgb(102, 133, 112);
	border: 10px solid black;
	text-align: center;
	margin-top: 0;
}
a{
	color: white;
}
img{
	width: 300px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid black;
	margin-bottom: 50px;
}
th, tr, td{
	font-family: Arial;
	text-align: center;
	color: white;
	padding: 15px;
	border: 3px solid black;
}
table{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	margin-bottom: 25px;
	border: 10px solid black;
	border-collapse: collapse;
}
p{
	margin-left: auto;
	margin-right: auto;
	width: 45%;
	border: 10px solid black;
	background-color: rgb(102, 133, 112);
	caption-side: bottom;
	color: white;
	font-family: Arial;
	text-align: center;
}
.a, .c, .e{
	background-color: rgb(166, 171, 166);
}
.header, .b, .d, .f{
	background-color: rgb(102, 133, 112);
}
.a:hover, .c:hover, .e:hover{
	background-color: rgb(128, 14, 14);
	transition: background 0.5s ease-in-out;
}
.header:hover, .b:hover, .d:hover, .f:hover{
	background-color: rgb(128, 14, 14);
	transition: background 0.5s ease-in-out;
}