body{
	margin:0;
	background-image: url(images/850.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@font-face {
	font-family: schwabacher;
	src: url(AlteSchwabacher-lgw0.ttf) format("truetype");
}
@font-face {
	font-family: caslon;
	src: url(CaslonAntique-WJV.ttf) format("truetype");
}
h1{
	font-family: schwabacher;
	font-size: 50px;
	color: rgb(223, 209, 182);
	background-color: #636f47;
	text-align: center;
	margin-top: 0;
	border: 10px solid black;
}
a{
	color: rgb(223, 209, 182);
	transition: .25s;
}
a:hover{
	color: white;
}
img{
	width: 300px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid black;
	margin-bottom: 50px;
}
th, tr, td{
	font-family: caslon;
	text-align: center;
	color: rgb(223, 209, 182);
	padding: 15px;
	border: 3px solid black;
}
table{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	border: 10px solid black;
	border-collapse: collapse;
}
p{
	margin-left: auto;
	margin-right: auto;
	width: 45%;
	border: 10px solid black;
	background-color: #636f47;
	caption-side: bottom;
	color: rgb(223, 209, 182);
	font-family: Arial;
	text-align: center;
}
.a, .c, .e{
	background-color: #874932;
}
.header, .b, .d, .f{
	background-color: #636f47;
}
.pagecontainer{
	background-color: rgba(223, 209, 182, .5);
	padding-bottom: 25px;
}
.work{
	display: none;
}
li{
	list-style-type: circle;
}
/*RESPONSIVE STYLES*/

/*MOBILE DEVICES AND SMALL TABLETS*/
@media only screen and (min-width: 280px) and (max-width: 768px){
	table{
		display: none;
	}
	.work{
		display: block;
		font-family: caslon;
		color:rgb(223, 209, 182);
		padding: 25px 10px 25px 10px;
		border-left: 5px solid black;
		border-right: 5px solid black;
		border-top: 5px solid black;
	}
	img{
		width: 200px;
		height: 267px;
		border: 5px solid black;
	}
	h1{
		font-size: 30px;
		border: 5px solid black;
	}
}

/*LARGE TABLETS*/
@media only screen and (min-width: 769px) and (max-width: 1024px){
	table{
		width: 100%;
	}
}
